.knob {
	display: grid;
	align-items: center;
	justify-items: center;
	position: absolute;
	width: min(5vh, 2.5vw);
	height: min(5vh, 2.5vw);
	cursor: pointer;
	transform: translate(-50%, -50%);
}

.knob-circle {
	border: black 2px solid;
	border-radius: 100%;
	width: 50%;
	height: 50%;
	box-shadow:
		0 0 0 5px white,
		0 0 0 7px black;
}

:host(bc-tint-input:disabled) .knob {
	cursor: auto;
}

:host(bc-tint-input:disabled) .knob-circle {
	box-shadow:
		0 0 0 3px gray,
		0 0 0 5px black;
}

@supports (height: 100dvh) {
	.knob {
		width: min(5dvh, 2.5dvw);
		height: min(5dvh, 2.5dvw);
	}
}
